* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: grey;
}

.container {
    width: 35%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px grey;
    padding: 1.5rem;
}
h1 {
    margin-bottom: 1rem;
    text-align: center;
}
.main-balance {
    margin: 1rem 0;
}
span {
    font-size: 1.25rem;
}
.in-out {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1.5rem 0;
}
.income {
    position: relative;
}
.income::after {
    content: '';
    height: 50px;
    width: 2px;
    background-color: grey;
    position: absolute;
    top: 0;
    left: 160px;
}
.underline {
    border-bottom: 2px solid grey;
    width: 100%;
    padding: 0 0 0.35rem 0;
    margin-bottom: 0.5rem;
}
.history {
    margin-bottom: 1.5rem;
}
.input {
    background: transparent;
    border: none;
    box-shadow: 3px 3px 5px rgb(94, 93, 93);
    padding: 0.3rem 0.75rem;
    margin: 0.5rem 0 1.5rem 0;
}
.input:focus {
    outline: none;
}
.add-btn {
    background: transparent;
    color: grey;
    border: none;
    box-shadow: 3px 3px 10px rgb(94, 93, 93);
    padding: 0.3rem 0.75rem;
    display: block;
    width: 100%;
}
.add-btn:hover {
    color: white;
    background-color: rgb(94, 93, 93);
}
.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(168, 164, 164);
    color: rgb(63, 62, 62);
    margin-bottom: 0.2rem;
    padding: 0.1rem 0.75rem;
    font-size: 0.75rem;
}
.in-border {
    border-right: 4px solid green;
}
.ex-border {
    border-right: 4px solid red;
}
.close-btn {
    color: red;
    background-color: transparent;
    border: none;
    padding: 0.1rem 0.35rem;
    box-shadow: 1px 1px 5px red;
}
.close-btn:hover {
    background-color: red;
    color: white;
    
}

@media screen and (max-width: 1150px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .income::after {
        display: none;
    }
}