* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(210deg, grey, black);
}

.container {
    width: 95%;
    padding: 2rem;
    margin: auto;
}
h1 {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.75rem;
}
.search-bar {
    margin: 1rem 0;
}
input {
    padding: 0.25rem 0.75rem;
    border: none;
    background-color: rgb(168, 165, 165);
    border-radius: 2rem;
    border-bottom: 2px solid rgb(80, 53, 2);
    color: white;
}
input:active {
    border: none;
}
.btn {
    padding: 0.25rem 0.75rem;
    margin-right: 1rem;
    border: none;
    border-radius: 2rem;
    border-color: none;
    box-shadow: 3px 3px 10px rgb(80, 53, 2);
}
.btn:hover {
    color: white;
    background-color: rgb(80, 53, 2);
    box-shadow: 3px 3px 10px white;
}
.btns {
    margin-bottom: 1.5rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 332px);
    grid-gap: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2rem;
    margin: auto;
    width: 100%;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-detail {
    padding: 1rem 0;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.product-detail div {
    margin: 0.5rem 0;
}
img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
del {
    color: red;
    margin-right: 0.25rem;
}
span {
    color: green;
    margin-left: 0.25rem;
}
.cart-btn {
    padding: 0.3rem 0.75rem;
    color: white;
    background: transparent;
    box-shadow: 3px 3px 10px rgb(80, 53, 2);
    border: none;
    margin-top: 0.5rem;
}
.cart-btn:hover {
    color: rgb(80, 53, 2);
    box-shadow: 3px 3px 10px white;
}
.active {
    color: white;
    background-color: rgb(80, 53, 2);
    box-shadow: 3px 3px 10px white;
}